@import url(./src/header.css);
@import url(./src/main.css);
@import url(./src/projetos.css);
@import url(./src/trajetoria.css);
@import url(./src/skills.css);
@import url(./src/footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --primary-color: rgb(148, 0, 0);
  --secondary-color: rgb(41, 41, 41);
  --font-color: rgb(17, 14, 14);
  --background-color: rgb(247, 243, 243);
}

body{
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: "Bungee", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #F4F4F4;

}
p{
  font-size: 18px;
}
.container{
  padding: 0px 20px 0px 20px;
}

@media (max-width: 768px) {
  nav{
    display: none; /* some apenas no mobile */
  }
  .icones{
    width: 60px;
  }
  .art-contato{
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .ft-cam{
        max-width: 277px; 
    }
    .frame{
      display: flex;
      justify-content: end;
      align-items: end;
      margin-right: 0;
    }
    .art-main{
      display: flex;
       align-items: flex-start;
       justify-content: start;
       width: 40vw;
       padding: 0px 10px 0px 0px;
        max-width: 500px; /* opcional */
    }

    .sec-main{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0;
        flex-wrap: nowrap; /* coloca lado a lado */
        width: 100%;
    }
    .pro-img{
      width: 400px;
    }
    .art-projetos div{
    width: 400px;
    }
}
