header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
.name-dv{
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Pirata One', sans-serif;
}
.spanVermelho{
    color: var(--primary-color);
}
ul,
li {
  color: rgb(197, 197, 197);
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav {
    /* border: 1px solid red;  */
    font-size: 1.125rem;
    flex: 1;
}
ul {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    cursor: pointer;
}
li {
    font-weight: 500;
}
li:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
a{
    text-decoration: none;
    color: rgb(197,197,197);

    &:hover{
    color: var(--primary-color);
    }
}