p{
      line-height: 1.8rem;
}
.pirata{
    color: var(--secondary-color);
      font-size: 5rem;
      font-weight: bolder;
      line-height: 5rem;
      font-family: 'Pirata One', sans-serif;
}
.frame{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ft-cam{
    width: 277px;
    border-radius: 50%;
    border: solid 1px rgb(145, 0, 0);
    padding: 1rem;
    margin: 1rem;
}
main{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.sec-main{
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-top: 1rem;
    justify-content: center;
}
.art-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}
.art-main h1{
    font-size: 24px;
}
p .pirata{
    font-size: 58px;
}
.art-main p:nth-child(4){
    font-size: 18px;
}
.art-main button{
    border: 1px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
    transition: background-color 0.3s ease;
    &.primary {
      background-color: var(--primary-color);
      color: rgb(0, 0, 0);
    }
    &.outline{
      background-color: transparent;
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
    }

    &:hover{
      transform: scale(1.1);
      transition: transform 0.3s ease;
      background-color: darken(var(--primary-color), 60%);
      border-color: #24262f;
}

}
